@import "tailwindcss";

@font-face {
  font-family: 'Fira';
  src: url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-aquamarine: #5881ac;
  --color-teal: #50828F;
  --color-lilac: #C4A5D3;
  --color-eggplant: #5A2C70;
  --color-rose: #A66C96;
  --color-pink: #dfb2d1;

  --color-dark: #272527;
  --color-light: #F9F1F8;
}