---
import Layout from "../components/Layout.astro";
---

<Layout title="Home">
	<div
		class="h-screen flex flex-col items-center justify-center font-['Fira'] bg-light text-dark"
	>
		<div class="text-center">
			<h1
				id="hoverText"
				class="text-eggplant text-2xl sm:text-3xl md:text-4xl mb-4 italic"
			>
				Tick, tock...
			</h1>
			<audio src="/audio/slow-clock-ticking.mp3" id="hoverAudio" preload="auto"
			></audio>
			<div class="text-sm md:text-xl">
				<span>It's just</span>
				<a
					href="https://open.spotify.com/album/6lauK4mNENDUMSoekDVDNG?si=rFrfFbwEQUimmX__8xlmIA"
					target="_blank"
					class="hover:text-aquamarine hover:underline">a matter of time!</a
				>
				<span> 🕰️</span>
			</div>
		</div>
		<div class="mt-6 mb-10">
			<button
				onclick={`window.location.href='./stopwatch'`}
				class="p-2 w-30 h-10 bg-rose rounded-xl border-pink border-2
          hover:bg-pink hover:border-rose hover:cursor-pointer
          active:bg-pink active:border-eggplant"
				>Stopwatch</button
			>
			<button
				onclick={`window.location.href='./timer'`}
				class="p-2 w-30 h-10 bg-rose rounded-xl border-pink border-2
          hover:bg-pink hover:border-rose hover:cursor-pointer
          active:bg-pink active:border-eggplant"
				>Timer</button
			>
		</div>
		<div class="text-rose text-xs md:text-sm">
			Made with ♡ by <a
				href="https://github.com/angelazheng96"
				target="_blank"
				class="hover:text-lilac hover:underline">Angela Zheng</a
			>
		</div>
	</div>

	<script is:inline>
		const hoverAudio = document.getElementById("hoverAudio");
		const hoverText = document.getElementById("hoverText");

		hoverText.addEventListener("mouseover", () => {
			console.log("mouse over");
			hoverAudio.currentTime = 0;
			hoverAudio.play();
		});

		hoverText.addEventListener("mouseout", () => {
			console.log("mouse out");
			hoverAudio.pause();
			hoverAudio.currentTime = 0;
		});
	</script>
</Layout>
