---
import "../styles/global.css";

import Layout from "../components/Layout.astro";
---

<Layout title="Stopwatch">
  <div class="h-screen flex flex-col items-center justify-center font-['Fira']">
    <a href="./" class="">Go back home!</a>
    <div id="time" class="text-5xl">00:00:00</div>
    <div>
      <button id="startPause">Start</button>
      <button id="reset">Reset</button>
    </div>
  </div>

  <script is:inline>
    const timeDisplay = document.getElementById("time");

    // Start and pause stopwatch
    const startPauseBtn = document.getElementById("startPause");
    startPauseBtn?.addEventListener("click", toggleTimer);

    // Reset stopwatch
    const resetBtn = document.getElementById("reset");
    resetBtn?.addEventListener("click", resetTimer);

    let timerRunning = false;
    let timeElapsed = 0;

    let currentTime;
    let startTime;

    let timerInterval;

    // Toggle timer between start or pause
    function toggleTimer() {
      timerRunning = !timerRunning;

      // If timer is starting
      if (timerRunning) {
        timeElapsed = 0;
        startTime = Date.now();
        currentTime = startTime;

        // Toggle start and pause button text
        startPauseBtn.textContent = "Pause";

        // Update timer every 0.2 seconds
        timerInterval = setInterval(() => {
          updateTimer();
        }, 200);
      }

      // Otherwise, timer is pausing
      else {
        clearInterval(timerInterval);
        startPauseBtn.textContent = "Start";
      }
    }

    // Update the time display with the elapsed time
    function updateTimer() {
      // Compare current time to the stopwatch start time
      currentTime = Date.now();
      timeElapsed = Math.floor((currentTime - startTime) / 1000);

      // Update time display
      document.getElementById("time").textContent = formatTime(timeElapsed);
    }

    // Format time in seconds into HH:MM:SS
    function formatTime(seconds) {
      const hrs = String(Math.floor(seconds / 3600)).padStart(2, "0");
      const mins = String(Math.floor((seconds % 3600) / 60)).padStart(2, "0");
      const secs = String(seconds % 60).padStart(2, "0");
      return `${hrs}:${mins}:${secs}`;
    }

    // Reset timer to 0
    function resetTimer() {
      clearInterval(timerInterval);
      timerRunning = false;
      timeElapsed = 0;
      document.getElementById("time").textContent = "00:00:00";

      startPauseBtn.textContent = "Start";
    }
  </script>
</Layout>
